.app {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

.song-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.song {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    
}